<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='happy-home-header'>
    <div class='happy-home-logo'>
      <a href="#", class="main-logo">Happyhome</a>
    </div>
    <div class='happy-home-header-menu'>
      <ul class='lists-left'>
        <li><a href="#", class='room-picture-menu'>写真</a></li>
        <li><a href="#", class='shop-menu'>Shop</a></li>
      </ul>
      <ul class='lists-right'>
        <li><a href="#", class="user-nickname">test</a></li>
        <li><a href="#", class="logout">ログアウト</a></li>
        <li><a href="#", class="login">ログイン</a></li>
        <li><a href="#", class="sign-up">新規登録</a></li>
      </ul>
    </div>
  </div>
</header>