<%= render "shared/header" %>
<div class="main-contents">
  <div class="main-picture">
    <img src="app/images/hero.jpg" alt="トップ画面" class="top-image">
  </div>
  <div class="contents">
    <div class="picture-contents">
      <h2>お部屋STORY</h2>
      <ul class="picture-lists">
        <li class="list-picture">
        <a href="#" class="picture-content">
          <img src="images/staff1.jpg" alt="room-picture" class="room-picture-image">
          <div class="room-info">
            <div>お部屋説明</div>
          </div>
          <div class="room-user-info">
            <div>test</div>
          </div>
        </a>
        </li>
        <li class="list-picture">
          <a href="#" class="picture-content">
            <img src="images/staff1.jpg" alt="room-picture" class="room-picture-image">
            <div class="room-info">
              <div>お部屋説明2</div>
            </div>
            <div class="room-user-info">
              <div>test2</div>
            </div>
          </a>
        </li>
        <li class="list-picture">
          <a href="#" class="picture-content">
            <img src="images/staff1.jpg" alt="room-picture" class="room-picture-image">
            <div class="room-info">
              <div>お部屋説明2</div>
            </div>
            <div class="room-user-info">
              <div>test2</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="items">
    <div class="item-contents">
      <h2>商品リスト</h2>
    </div>
    <ul class="item-lists">
      <li class="item-list">
        <a href="#", class="item-content">
          <img src="images/staff2.jpg" alt="item-image" class="item-image">
          <div class="brand-name">brand</div>
          <div class="item-explain">explain</div>
          <div class="item-price"><b>price</b></div>
          <div class="item-review">review</div>
          <div class="item-delivery">無料配送</div>
        </a>
      </li>
      <li class="item-list">
        <a href="#", class="item-content">
          <img src="images/staff2.jpg" alt="item-image" class="item-image">
          <div class="brand-name">brand</div>
          <div class="item-explain">explain</div>
          <div class="item-price"><b>price</b></div>
          <div class="item-review">review</div>
          <div class="item-delivery">無料配送</div>
        </a>
      </li>
      <li class="item-list">
        <a href="#", class="item-content">
          <img src="images/staff2.jpg" alt="item-image" class="item-image">
          <div class="brand-name">brand</div>
          <div class="item-explain">explain</div>
          <div class="item-price"><b>price</b></div>
          <div class="item-review">review</div>
          <div class="item-delivery">無料配送</div>
        </a>
      </li>
      <li class="item-list">
        <a href="#", class="item-content">
          <img src="images/staff2.jpg" alt="item-image" class="item-image">
          <div class="brand-name">brand</div>
          <div class="item-explain">explain</div>
          <div class="item-price"><b>price</b></div>
          <div class="item-review">review</div>
          <div class="item-delivery">無料配送</div>
        </a>
      </li>
    </ul>
  </div>
</div>

<%= render "shared/footer" %>