

<header class='top-page-header'>
  <div class='happyhome-header'>
    <div class='happyhome-logo'>
      <a href="#">Happyhome</a>
    </div>
    <div class='happyhome-header-menu'>
      <ul class='lists-left'>
        <li class='room-picture-menu'><a href="#">写真</a></li>
        <li class='shop-menu'><a href="#">Shop</a></li>
      </ul>
      <ul class='lists-right'>
        <li><%= link_to 'test', "#", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', "#", class: "logout"%></li>
        <li><%= link_to 'ログイン', "#", class: "login"%></li>
        <li><%= link_to '新規登録', "#", class: "sign-up"%></li>
      </ul>

    </div>

  </div>
</header>